<html>
<head>
</head>
<body>
<form action="http://127.0.0.1:5000/predicted" method="post">
    <input type="number" name="MedInc" placeholder="Median income" required="required">
    <input type="number" name="HouseAge" placeholder="HouseAge" required="required">
    <input type="number" name="AveRooms" placeholder="AveRooms" required="required">
    <input type="number" name="AveBedrms" placeholder="AveBedrms" required="required">
    <input type="number" name="Population" placeholder="Population" required="required">
    <input type="number" name="AveOccup" placeholder="AveOccup" required="required">
    <input type="number" name="Latitude" placeholder="Latitude" required="required">
    <input type="number" name="Longitude" placeholder="Longitude" required="required">
    <button type="submit" placeholder="Submit">
</form>
</body>
</html>